body {
    background-color: black;
}

.wrapper {
    display: grid;
    grid-template-columns: 67% 33%;
}

.wrapper > div {
    background: black;
    padding: 1em;
}

.wrapper > div:nth-child(even) {
    z-index: -2;
}

canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.infobox {
    outline-style: round;
    background-color: #212121;
    border-radius: 12px;
    width: 61%;
    margin: auto;
    height: 200px;
}


h1 {
    font-family:'Courier New', Courier, monospace;
    color: white;
    position: relative;
    font-size: 60px;
    text-align: center;
}
