body {
    background-color: black;
}

.wrapper {
    display: grid;
    grid-template-columns: 67% 33%;
}

.wrapper > div {
    padding: 1em;
}

.wrapper > div:nth-child(even) {
    z-index: -2;
}

canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.infobox {
    outline-style: round;
    background-color: #212121;
    border-radius: 14px;
    width: 61%;
    margin: auto;
    height: 200px;
    margin-top: 25px;
    font-family:'Courier New', Courier, monospace;
    color: white;
}

.projectTitle {
    font-size: 30px;
}

.description {
    font-size: 18px;
}

.projectImage {
    max-width:190px;
    max-height:190px;
    margin-top:5px;
    margin-right:5px;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    color: white;
    position: relative;
    font-size: 60px;
    text-align: center;
}

.divColumnSmall {
    width: 35%;
    float: left;
}

.divColumnBig {
    padding: 14px;
    width: 61%;
    float: left;
}

a {
    text-decoration: none;
    color: white;
}
a:link, a:visited {
    color: white;
}
a:hover {
    color: white;
}