body {
    background-color: black;
}

.wrapper {
    display: grid;
    grid-template-columns: 67% 33%;
}

.wrapper > div {
    padding: 1em;
}

.wrapper > div:nth-child(even) {
    z-index: -2;
}

.writeupWrapper {
    display: grid;
}

.writeupWrapper > div {
    padding: 1em;
}

.writeupWrapper > div:nth-child(even) {
    z-index: -2;
}

canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.infobox {
    outline-style: round;
    background-color: #212121;
    border-radius: 14px;
    width: 68%;
    margin: auto;
    display: block;
    overflow: auto;
    min-height: 200px;
    margin-top: 25px;
    font-family:'Courier New', Courier, monospace;
    color: white;
}

.infoboxFull {
    outline-style: round;
    background-color: #212121;
    border-radius: 14px;
    width: 68%;
    margin: auto;
    display: block;
    overflow: auto;
    min-height: 200px;
    margin-top: 25px;
    font-family:'Courier New', Courier, monospace;
    color: white;
}

.infobox:hover {
    background-color: #2d2d2d;
}

.projectTitle {
    font-size: 30px;
}

.description {
    font-size: 18px;
}

#planeImage {
    max-width:180px;
    max-height:180px;
    margin-top:50px;
    float: right;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    color: white;
    position: relative;
    font-size: 60px;
    text-align: center;
}

h5 {
    font-family:'Courier New', Courier, monospace;
    color: white;
    position: relative;
    margin-top: 0px;
    font-size: 30px;
    text-align: center;
}

.divColumnSmall {
    width: 35%;
    float: left;
}

.divColumnBig {
    padding: 14px;
    width: 55%;
    float: left;
}

.projectWriteup {
    padding: 14px;
    font-size: 18px;
    text-align: justify;
}

a {
    text-decoration: none;
    color: white;
}
a:link, a:visited {
    color: white;
}
a:hover {
    color: white;
}

.projectImage {
    max-width:180px;
    max-height:180px;
    margin-top:10px;
    float: right;
}

.backButton {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    font-size: 70px;
    margin: 4px 2px;
    cursor: pointer;
}

.writeupImage {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: block;
}

.imageDescription {
    font-size: 18px;
    text-align: center;
    margin-bottom: 60px;
}

.secondHeading {
    margin-top:80px;
    font-size: 60px;
    margin-bottom: 0px;
}

.firstHeading {
    font-size: 60px;
    margin-bottom: 0px;
}

.video {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 50px;
}

@media only screen and (max-width: 760px) {
    #cube { 
        display: none;
    }

    #tetrahedron {
        display: none;
    }

    #dodecahedron {
        display: none;
    }

    .wrapper {
        grid-template-columns: 100% 0%;
    }

    .infobox {
        width: 95%;
    }
}

.githubIcon {
    margin-top: 10px;
    max-width: 65px;
    max-height: 65px;
    position: inline-block;
}

.githubIconWrapper {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}