body {
    background-color: black;
    margin-bottom: 50px;
  }

.activatedButton {
    background-color: #32a852;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Courier New', monospace;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 7px;
    width: 85%;
  }

  .neutralButton {
    background-color: #ccc;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Courier New', monospace;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 7px;
    width: 85%;
  }

  .neutralButton:hover {
    background-color: #32a852;
    color: white;
  }

  .activatedButton:hover {
    background-color: #36d661;
    color: white;
  }

  #buttonWrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.buttonSpacer {
    display: flex;
    justify-content: center;
}

#michael {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}

#techSkills {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-family:'Courier New', monospace;
    font-size: 30px;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #32a852;
    color: white;
    font-family:'Courier New', monospace;
  }

  #table td, #table th {
    padding: 8px;
    color: white;
    font-family:'Courier New', monospace;
  }

  #table tr:hover {
    background-color: #2e2d2d;
  }

  #table {
    margin-right: auto;
    margin-left: auto;
    width:90%;
    position: relative;
    margin-bottom: 30px;
  }
