body {
  background-color: #212121;
  padding-bottom: 80%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    position:absolute;
    top:77%;
    left:8px;
  }

  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #32a852;
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .paragraph {
    color:white;
    font-family:'Courier New', monospace;
    font-size:20px;
    text-align:left;
    position:absolute;
  }

  .paragraph1 {
    top:75.5%;
    left:75px;
  }

  .paragraph2 {
    top:76%;
    right:280px;
  }

  .paragraph3 {
    top:76%;
    right:20px;
  }

  .paragraph4 {
    top:80.7%;
    right:280px;
  }

  .activatedButton {
    background-color: #32a852;
    position:absolute;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Courier New', monospace;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 7px;
  }

  .neutralButton {
    background-color: #ccc;
    position:absolute;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Courier New', monospace;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 7px;
  }

  .button1 {
    top:85%;
    left:33%;
  }

  .button2 {
    top:85%;
    right:33%;
  }

  .neutralButton:hover {
    background-color: #32a852;
    color: white;
  }

  .activatedButton:hover {
    background-color: #36d661;
    color: white;
  }

  .square {
    height: 5%;
    width: 200px;
    position: absolute;
  }

  .gradient {
    top:76.5%;
    right:75px;
    background-image: linear-gradient(to right, white, blue);
  }

  .solid {
    top:81.5%;
    right:75px;
    background-color:#32a852;
  }

  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #32a852;
    color: white;
    font-family:'Courier New', monospace;
  }

  #table td, #table th {
  
    padding: 8px;
    color: white;
    font-family:'Courier New', monospace;
  }

  #table tr:hover {
    background-color: #2e2d2d;
  }

  #table {
    position:absolute;
    top:94%;
    left:15%;
    width:70%;
  }


  #iframe-container {
    margin-left:-8px;
  }

  #map {
    position:absolute;
    top:50px;
  }

  @media only screen and (max-width: 760px) {
      #iframe-container {
        display: none;
    }
    
    #updateToggle {
        display: none;
    }
    
    #square {
        display: none;
    }
  
  }

  
